# Dependencies
node_modules

# Build outputs
.next
out
build

# Test files
coverage

# Development
.git
.gitignore

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Misc
*.tsbuildinfo
next-env.d.ts